// Animation de la checkmark

$lightgreen: #99E2D0;

.checkIcon {
    background-color: $lightgreen;
    color: white;
    width: 59px;
    height: 75px;
    margin: 0;
    border-radius: 0 15px 15px 0;
    font-size: 22px;
    transform: scaleX(0);
    transform-origin: right;
    transition: 400ms;
}

.checkPrice {
    margin-right: -59px;
    transition: 400ms;
}

.menu__section--dishCard:hover .checkIcon,
.menu__section--dishCard:hover .checkPrice {
    transform: scaleX(1);
    margin-right: 0;
}