// Mise en forme et animation de l'icône coeur
$primary-color: #9356DC;
$secondary-color: #FF79DA;

@mixin Roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

input[type="checkbox"] {
    display: none;
}


// Animation
.heart-icon {
    cursor: pointer;
    font-size: 24px;
}

.heart-icon2 {
    font-size: 24px;
    cursor: pointer;
    background: -webkit-linear-gradient(90deg, $secondary-color, $primary-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: 100ms ease;
}

input[type="checkbox"]:checked+.heart-container .heart-icon2 {
    opacity: 1;
}

// Page d'accueil
.heart-position {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

// Page restaurant
.heart-position2 {
    position: absolute;
    right: 20px;
    top: 40px;
}

// Responsive
@media screen and (min-width:660px) {
    .heart-position2 {
        right: 150px;
    }
}

@media screen and (min-width:930px) {
    .heart-position2 {
        right: 250px;
    }
}